import { SQLLogger } from '../helpers/logger';

export default {
  development: {
    username: 'root',
    password: 'dbpassword',
    database: 'database_dev',
    host: '127.0.0.1',
    dialect: 'postgres',
    logging: SQLLogger.info
  },
  test: {
    username: 'root',
    password: 'dbpassword',
    database: 'database_test',
    host: '127.0.0.1',
    dialect: 'postgres',
    logging: SQLLogger.info
  },
  production: {
    username: 'root',
    password: 'dbpassword',
    database: 'database_production',
    host: '127.0.0.1',
    dialect: 'postgres',
    logging: SQLLogger.info
  }
};
